<div class="container">
  <h1>Cocktails</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @cocktails.each do |cocktail| %>
        <tr>
          <td><%= cocktail.name %></td>
          <td><%= link_to 'Show', cocktail, class:'btn btn-primary' %></td>
          <td><%= link_to 'Edit', edit_cocktail_path(cocktail), class:'btn btn-light' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <div class="links-to">
    <%= link_to 'New Cocktail', new_cocktail_path, class:'btn btn-info' %>
  </div>
</div>

