.card-btn-show {
    position: absolute;
    bottom: 8px;
    left: 8px;
    font-size: 12px;
    padding: 4px;
}

.card-btn-edit {
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 12px;
    padding: 4px;
}
