.show-container {
  padding: 10px;
  margin-left: 32px;
}
.container {
  padding: 24px;
}

// .new-cocktail-container {
//  background-image: url("https://images.unsplash.com/photo-1547495706-7485ef02d47d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
//  background-size: fit;
// }
